/* Set the margin to 0 to occupy the entire width of the window, set the font type, and set the default background color */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f51313;
}

/* Remove the default margin for the body so that there are no unwanted gaps between sections */
nav, main > section {
    overflow: auto;
}

/* Set the minimum vertical height of each section to occupy the whole window */
main > section {
    min-height: 100vh;
}

/* Style the navigation bar */
/* Apply flex box */
#nav {
    /* Most of these properties are also styled in other sections */
    /* Use flex box to style the navigation bar */
    display: flex;
    /* Set the spacing between elements in the navigation bar */
    justify-content: space-evenly;
    /* Set the orientation and placement of the navigation bar items */
    align-items: center;
    align-self: center;
    padding: 1.5em;
    /* Style the background color */
    background-color: #f51313;
    /* Style the font color */
    color: #eee;
}

/* Style text for the top heading of the navigation bar  */
nav h1 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-emphasis: bold;
}

/* Style text for section links in the navigation bar */
nav h2 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.5em;
}

/* Remove the underlines for the links and style the font color */
nav a {
    text-decoration: none;
    color: #eee;
}

/* Use flex box to create a horizontal row for the navigation links and then remove the bullet points */
nav ul {
    display: flex;
    list-style: none;
}

/* Style the font of the links */
nav ul a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1em;
    color: whitesmoke;
    font-size: larger;
}

/* Adjust the color of the font when the cursor hovers over the section link */
nav ul a:hover {
    color: darkred;
}

/* Style the primer section */
#primer {
    /* Set the background color */
    background-color: #f51313;
    /* Set the background image */
    background-image: url(images/hamilton-car.jpg);
    /* Use cover to make the image fill the space */
    background-size: cover;
    /* Center the content */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10%; */
    /* Set the size of the font */
    font-size: 6em;
    color: #fff;

}

/* Style the paragraphs in primer to have no margin, some black shadow on the bottom, and a white color */
#primer p {
    margin: 0;
    text-shadow: 0 0 20px #000000;
    color: whitesmoke;
}

/* The text content for the primer is actually outside of the HTML section for the primer for stylistic purposes */
/* Set the color of the text */
main > div {
    color: whitesmoke;
    margin: 2em 2em 2em 2em;
    line-height: 1.5;
    background-color: black;
    padding: 1em 1em 1em 1em;
}


/* Set multiple background images to cover the section */
#teams-drivers {
    background-color: #f51313;
    background-image: url(images/mclaren-team.jpg), url(images/renault-team.jpg);
    background-repeat: no-repeat;
    background-size: contain, contain;
    background-position: bottom, top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

/* Give the box a transparent wide box with a set maximum width to keep it readable */
#teams-drivers > div {
    background-color:rgba(3, 3, 3, 0.70);
    padding: 1em;
    width: 50%;
    max-width: 900px;
}

/* Make the section heading font very large */
#teams-drivers h2 {
    font-size: 4em;
    text-align: center;
    margin: 0;
}

/* Adjust the spacing for the paragraphs before the list in this section */
#teams-drivers > div > p {
    font-size: 1em;
    line-height: 1.5em;
    /* background-color: rgba(63, 48, 48, 0.35); */
}

/* Remove the bullet points, margin, and padding  */
#teams-drivers ul {
    list-style: none;
    margin: 0; 
    padding: 0;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* Style alternating backgrounds for the list items to improve readability */
#teams-drivers ul > li:nth-child(even) {
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    line-height: 0.4em;
    align-items: flex-end;
    margin-left: 26%;
    margin-right: inherit;
}

/* Style alternating backgrounds for the list items to improve readability */
#teams-drivers ul > li:nth-child(odd) {
    display: flex;
    flex-direction: column;
    background-color: rgba(34, 32, 32, 0.75);
    padding-left: 1em;
    align-items: flex-start;
    line-height: 0.4em;
}


/* Style the section on the top 3 drivers, which is presented with 3 side-by-side cards */
/* Set the background color */
#top-3-ranking {
    background-color:#f51313;
}

/* Remove the bullet points, margin, and padding  */
#top-3-ranking ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Set the properties for the section heading */
#top-3-ranking > h2 {
    margin: 1em;
    font-size: 3em;
    text-align: center;
    color: #eee;
}

/* Set the width of the card to allow for three of them to fit side by side, and set the margin and background color */
.card {
    width: 400px;
    margin: 1em;
    background-color: black;
    color: whitesmoke;
}

/* Set the images of the drivers to occupy the whole width of the card */
.card img {
    width: 100%;
}

/* Set the font side of the names of the drivers on each card */
.card h3 {
    font-size: 2em;
}

/* Set the margin for the names of the drivers and the short paragraph descriptions */
.card h3, .card p {
    margin: 1rem;
}


/* Style the section on vehicle technology with a picture on one side and text on the other*/
#vehicle-technology {
    background-color: #f51313;
}

/* Set the properties for the section heading */
#vehicle-technology h2 {
    margin-top: 1em;
    font-size: 3em;
    text-align: center;
    color: #eee;
}

/* Add a black background for the text */
#vehicle-technology p {
    background-color: black;
    padding: 0 1em 0 1em;
}

/* Set up a flex box for the entire section */
#vehicle-technology > div {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    flex-direction: row-reverse;
    align-items: center;
}

/* Set flex factor and margins and style text */
#vehicle-technology > div > div:nth-child(1) {
    flex: 5;
    margin: 0 0 0 2em;
    color: whitesmoke;
    line-height: 1.5;
    font-size: 1.3em;
}

/* Set flex factor and margins for image */
#vehicle-technology > div > div:nth-child(2) {
    flex: 5;
    margin: 10em 2em 0 0;
}

/* Style the image */
#vehicle-technology > div img {
    display: flex;
    width: 100%;
    box-shadow:0 0 22px rgba(0, 0, 0, 0.44);
}


/* Style the section on circuits with a picture on one side and text on the other*/
#circuits {
    margin-top: 1.3em;
    background-color: #f51313;
    color: whitesmoke;
    
}

/* Set the properties for the section heading */
#circuits h2 {
    font-size: 3em;
    text-align: center;
    color: #eee;
}

/* Style the paragrpah text  */
#circuits p {
    display: flex;
    margin: 1em 3em 1em 3em;
    line-height: 1.4;
    font-size: 1.2em;
}

/* Add a black background for the text */
#circuits > div > div > p {
    background-color: black;
    padding: 1em 1em 1em 1em;
}

/* Remove the bullet points on the list and change text color*/
#circuits ul {
    list-style: none;
    margin-right: 2.5em;
}

/* Style alternating items of the list for readibility */
#circuits ul > li:nth-child(odd) {
    background-color: rgba(3, 3, 3, 0.70);;
}

#circuits ul > li:nth-child(even) {
    background-color: rgba(31, 28, 28, 0.7);;
}
/* Style the image */
#circuits > div img {
    display: flex;
    width: 100%;
    box-shadow:0 0 22px rgba(0, 0, 0, 0.44);
}


/* Style the contact form */
#contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact > form {
    display: flex;
}

#contact > form > div {
    display: flex;
    flex-direction: column;
}

#contact label {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

label {
    margin: 1em 0;
}

label span {
    margin: 1em 0;
}

input, textarea {
    border: 1px solid #000;
    padding: 0.5em;
    margin: 0 2em 0 0;
    width: 20em;
    font-size: 1em;
}

textarea {
    height: 9em;
    margin: 0 0 0 0;
}

form button {
    width: auto;
    font-size: 1em;
    margin-left: 3em;
    align-self: center;
    padding: 0.5em 1em;
    background-color: red;
    color: #fff;
    border: none;
}
